html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

header {
	height: 5%;
	background-color: #0074d9;
	color: white;
	text-align: center;
	padding: 20px;
}

main {
	height: calc(95% - 50px);

	display: flex;
}

.left-column {
	width: 15%;
	background-color: #aaaaaa;
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	border: grey 5px solid;
}

.block-1 {
	flex-grow: 0.3;
	background-color: lightblue;
	padding: 20px 20px;
}

.block-2 {
	flex-grow: 0.1;
	padding: 20px 20px;
	background-color: lightblue;
}

.block-3 {
	flex-grow: 0.7;
	padding: 40px 20px;
	background-color: lightblue;
}
.row-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.block-1 .row-1 {
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: calc(40% - 25%);
}

.input-column {
	width: 70%;
}

input {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.button-column {
	width: 22%;
	padding-left: 10px;
}

button {
	width: 90%;
	padding: 5px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}
.row-2 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.button-column {
	width: 48%;
}

button {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

.right-column {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.top-right {
	height: 90%;
	background-color: #dddddd;
	padding: 20px;
	border: black 5px solid;
	width: 100%;
	font-family: Arial, sans-serif;
	color: black;
	font-size: large;
	overflow: auto;
}

/* Thiết lập layout cho phần tử top-right khi có class split-columns */
.top-right.split-columns {
	display: flex;
}

/* Thiết lập layout cho 2 cột con khi phần tử top-right có class split-columns */
.top-right.split-columns > * {
	flex-basis: 50%;
}
.split-columns {
	display: flex;
	flex-direction: row;
}

.split-columns > * {
	flex-basis: 50%;
}
.bottom-right {
	height: 5%;
	background-color: #aaaaaa;
	padding: 20px;
	width: 100%;
}
.row-3 {
	display: grid;
	margin-top: calc(40% - 20%);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 10px;
}
.row-4 {
	display: grid;
	margin-top: calc(40% - 20%);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 10px;
}

.button-column {
	width: 100%;
}

button {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

h3 {
	width: 80%;
	padding: 8px;
	font-size: 16px;
	color: black;
	border: solid 2px black;
	border-radius: 4px;
	cursor: not-allowed;
}

button:hover {
	background-color: #3e8e41;
}

#command_entry {
	height: 85%;
	margin-right: 50px;
	width: 99%;
}

.popup {
	visibility: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 200px;
	background-color: white;
	border: 1px solid black;
	z-index: 9999;
}
.popup-content {
	padding: 20px;
	text-align: center;
}

#terminal {
	font-family: monospace;
	background-color: #000;
	color: #fff;
	padding: 20px;
	margin-left: 60px;
	width: 1%;
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
	color: white;
	font-size: large;
	overflow: auto;
}
#input {
	margin-top: 20px;
}
#prompt {
	font-weight: bold;
}
#cmd {
	background: transparent;
	border: none;
	color: white;
	outline: none;
}
