<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AUTOSAR</title>
	<link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/xterm/dist/xterm.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <script src="/static/trie.js"></script>

    <script src="/static/index.js"></script>
</head>
<body>
	<header>
		<h1>LCM-Workstation AutoSar</h1>
	</header>
	<main>
		<div class="left-column">
            <div class="block-1">
                <div class="row-2">
                    <div class="button-column">
                        <h3>Voltage</h3>
                        <h3>Current</h3>
                        
                    </div>
                    <div class="button-column">
                        <h3 id="voltage_value">V</h3>
                        <h3  id="current_value">A</h3>
                    </div>
                </div>
                
                <div class="row-1">
                  <div class="input-column">
                    <input type="text" placeholder="Voltage 0-14V" id="voltage_to_set">
                  </div>
                  <br>
                  <div class="button-column">
                    <button type="button" id ="set_voltage_btn">Set Voltage</button>
                  </div>
                </div>

                <div class="row-2">

                  <div class="button-column">
                    <button type="button" id="clear_scc">Clear SCC Trace</button>
                  </div>

                  <div class="button-column">
                    <button type="button" id="show_hide_adb" onclick="showHideADB()">Show/Hide ADB</button>
                  </div>
                </div>

                <div class="row-2">
                  <div class="button-column">
                    <button type="button" id ="export_scc">Export SCC Trace</button>
                  </div>
                  <div class="button-column">
                    <button type="button" id="export_adb">Export ADB log</button>
                  </div>
                </div>
              </div>
            <div class="block-2">
                <div class="row-2">
                    <div class="button-column">
                      <input type="file" name="file-dnl" id="file-dnl-input">
                    </div>
                    <div class="button-column">
                      <input type="file" name="file-trc" id="file-trc-input">
                    </div>
                  </div>
                  <div class="row-2">
                    <div class="button-column">
                      <button type="button" id="flash_btn">Flash</button>
                    </div>
                    <div class="button-column">
                      <button type="button" id ="trace_btn">Upload Trace</button>
                    </div>
                  </div>
                <div class="row-3">
                    <div class="button-column">
                      <button type="button" id="acc_btn">ACC</button>
                    </div>
                    <div class="button-column">
                      <button type="button" id="ign_btn">IGN</button>
                    </div>
                    <div class="button-column">
                      <button type="button" id="wd_btn">WDG_OFF</button>
                    </div>
                    <div class="button-column">
                      <button type="button" id="opt2_btn">OPT2</button>
                    </div>
                    <div class="button-column">
                      <button type="button" id="pwron_btn">POWER_ON</button>
                    </div>
                    <div class="button-column">
                        <button type="button">UNUSES</button>
                    </div>
                    <div class="button-column">
                      <button type="button">UNUSES</button>
                    </div>
                    <div class="button-column">
                      <button type="button">UNUSES</button>
                    </div>
                  </div>
            </div>
            <div class="block-3">
                <div class="row-4">
                    <div class="button-column">
                        <h3>STATUS</h3>
                    </div>
                    <div class="button-column">
                        <h3>INFOR</h3>
                    </div>
                    <div class="button-column">
                        <h3>POWER SOURCE:</h3>
                    </div>
                    <div class="button-column">
                        <h3 style="cursor: pointer;" id="power_source" >OFF</h3>
                    </div>
                    <div class="button-column">
                        <h3 >SERVER:</h3>
                    </div>
                    <div class="button-column">
                        <h3 id="server_status">UNKNOWN</h3>
                    </div>
                    <div class="button-column">
                        <h3>USER:</h3>
                    </div>
                    <div class="button-column">
                        <h3 >UNKNOWN</h3>
                    </div>
                    <div class="button-column">
                      <h3>STATUS:</h3>
                  </div>
                  <div class="button-column">
                      <h3 id="status">UNKNOWN</h3>
                  </div>
                  </div>
            </div>
          </div>

		<div class="right-column" id ="right-column">
			<div class="top-right" id="scc_log" disabled></div>
			<div class="bottom-right">
				<input id="command_entry" placeholder="Command....">
			</div>
		</div>
    <div id="terminal">
      <div id="output"></div>
      <div id="input">
         <input type="text" id="cmd" placeholder="Command...">
      </div>
   </div>
		</div>
	</main>
    <div id = "adb_box" class="popup">
        <textarea class="adb" id="adb_log"></textarea>
    </div>
    <script>
        var isPress = false
        showHideADB = () => {
		console.log("click")
        isPress = !isPress
        if (isPress)
        {
		    document.getElementById("right-column").style.width = "40%"
		    document.getElementById("terminal").style.width = "40%" 
        }
        else
        {
            document.getElementById("right-column").style.width = "80%"
            document.getElementById("terminal").style.width = "1%"
        }
	}
    </script>

</body>
</html>
