<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>LCM WorkStation V3</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="/static/index.js"></script>
</head>
<body>
	<div class="header">
		<div class="header-column">
			<div class="row">
				<div class="inside-colum">
					<div>Power Source 	</div>
					<div>User Name  </div>
					<div>Server  		</div>
				</div>
				<div class="inside-colum">
					<div id = "sourceStatus">OFF</div>
					<div id = "username">Thang Tran</div>
					<div id = "serverStatus">Normal</div>
				</div>
			</div>
		</div>
		<div class="header-column">
			<div class="row">
				<div class="inside-colum">
					<div>Voltage: </div>
					<div>Current: </div>
				</div>
				<div class="inside-colum">
					<div id = "volValue">0</div>
					<div id = "curValue">0</div>
				</div>
        <div class="inside-colum">
          <div>V</div>
					<div>A</div>
        </div>
        <div class="inside-colum">
          <input id = "pwrVal_in" class="button" placeholder="Voltage 0-14v">
          <button id="setPwr_btn" class="button">Set</button>
        </div>
				<div class="inside-colum">
					<button id="pwrOn_btn" class="button">Power ON</button>
					<button id="pwrOff_btn" class="button">Power OFF</button>
				</div>
			</div>
		</div>
		<div class="header-column">
			<div class="row">
				<div class="inside-colum">
					<div>Binary </div>
					<div>Trace</div>
				</div>
				<div class="inside-colum">
					<form id="file-form" enctype="multipart/form-data">
            <input type="file" name="file-dnl" id="file-dnl-input">
            <input type="button" value="Flash"  class="button" id="upload-dnl">
         </form>
				</div>
				<div class="inside-colum">
          <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file-trc" id="file-trc-input">
            <input type="button" value="Upload Trace"  class="button" id="upload-trc">
         </form>
				</div>
			</div>
			
		</div>
		<div class="header-column">
			<div class="row">
				<div class="inside-colum">
					<button class="button" id="acc_btn" >ACC</button>
					<button class="button">UNUSES</button>
				</div>
				<div class="inside-colum">
					<button class="button" id="ign_btn">IGN</button>
					<button class="button">UNUSES</button>
				</div>
				<div class="inside-colum">
					<button class="button" id="wd_btn">WD_OFF</button>
					<button class="button">UNUSES</button>
				</div>
				<div class="inside-colum">
					<button class="button" id="opt2_btn">OPT2</button>
					<button class="button">UNUSES</button>
				</div>
			</div>
		</div>
	</div>
  <div class="body">
    <div class="log-area" id = "downloaderId">
      <h3 style="text-align: center;">TTFis Log</h3>
      <textarea id="log_ttfis" disabled></textarea>
      
    </div>
  </div>


  <div id = "popup_box" class="popup">
    <div class="popup-content">
      <h2 id ="popupTitle"></h2>
      <p id="popupStatus"></p>
      <button class="button" id="closePopup_btn">Close</button>
    </div>
  </div>
  <!-- todo: add pop-up login -->
  <!-- <div>

  </div> -->

	<!-- <div class="footer">
		<div id="command-entry">
			<input id ="entry-zone"type="text" placeholder="Command..." >
		</div>
		<button id = "execute_btn" class="button">Execute</button>
	</div> -->

</body>
</html>
